{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
     

 

   <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card shadow-lg">
          <div class="card-header text-center  text-white">
            <h2>Commande N° {{ commande.id }}</h2>
          </div>
          <div class="card-body">
            <form>
              <!-- Customer Information -->
              <h4 class="mb-3">Informations Client</h4>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="clientName" class="form-label">Nom et Prénom</label>
                  <input type="text" class="form-control" id="clientName" placeholder="Entrez le nom complet" value="{{ commande.firstname ~ ' ' ~ commande.lastname }}" readonly required>
                </div>
                <div class="col-md-6">
                  <label for="clientPhone" class="form-label">Téléphone</label>
                  <input type="tel" class="form-control" id="clientPhone" placeholder="Entrez le numéro de téléphone" readonly value="{{ commande.phone }}" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="clientAddress" class="form-label">Adresse</label>
                <input class="form-control" id="clientAddress" rows="2" placeholder="Entrez l'adresse" readonly value="{{ commande.address }}" required />
              </div>
              
              <div class="mb-3">
                <label for="clientAddress" class="form-label">Email</label>
                <input class="form-control" id="clientAddress" rows="2" placeholder="" readonly value="{{ commande.email }}" required />
              </div>
              

              <!-- Order Details -->
              <h4 class="mt-4 mb-3">Détails de la Commande</h4>
              {% set total_price = 0 %}
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Produit</th>
                      <th scope="col">Quantité</th>
                      <th scope="col">Prix Unité</th> 
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in commande.checkoutRelatedProducts %}
                        {% set product_price = item.product.price %}
                         <tr>
                            <td>
                                {{ item.product.label }}
                            </td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td> 

                                {% set promotion = null %} 
                                {% set product = item.product %} 
                                
                                
                                <!-- item.category.promotions is an array get the last element -->
                                {% if product.category != null %}
                                    {% set promotion = product.category.promotions | last %}
                                {% endif %}

                                <!-- but if product sub category have a promotion we take it insted -->
                                {% if product.subCategory != null %}
                                    {% set promotion = product.subCategory.promotions | last %}
                                {% endif %}


                                {% if promotion != null %}
                                <!-- if today between promotion.startAt end promotion.endAt  -->
                                {% set today = "now"|date("Y-m-d") %}  
                                {% if promotion.startAt|date("Y-m-d") <= today and today <= promotion.endAt|date("Y-m-d") %} 

                               

                                {% set product_price = product.price -  (   ( product.price * promotion.value ) / 100  ) %}

                                            <div class="product-card-price">
                                                <span class="price">{{ product_price | format_currency('TND', {fraction_digit: 2}) }}</span>
                                            </div>
                                            
                                            {% else %}
                                            <div class="product-card-price">
                                                <span class="price">{{ product_price | format_currency('TND', {fraction_digit: 2}) }}</span>
                                            </div>
                                            
                                        {% endif %}

                                        {% else %}
                                            <div class="product-card-price">
                                                <span class="price">{{ product_price | format_currency('TND', {fraction_digit: 2}) }}</span>
                                            </div>
                                            
                                {% endif %}

                            </td>
                            <td>
                                {{ (item.quantity * product_price) | format_currency('TND', {fraction_digit: 2})  }}

                                {% set total_price = total_price + ( item.quantity * product_price )  %}
                            </td>
                            
                        </tr>
                        
                    {% endfor %}


                    {% for item in commande.checkoutRelatedProductPacks %}
                        {% set product_price = item.pack.price %}
                         <tr>
                            <td>
                                {{ item.pack.title }}
                            </td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td> 
  
                                {% set pack_price =  item.pack.price %}

                                {% if promo != null %}
                                  {% set pack_price = pack_price - ( (pack_price * promo.value) / 100 ) %}
                                {% endif %}
                               
                                 {{ pack_price }}
                                 

                            </td>
                            <td>
                                {{ (item.quantity * pack_price) | format_currency('TND', {fraction_digit: 2})  }}

                                {% set total_price = total_price + ( item.quantity * pack_price )  %}
                            </td>
                            
                        </tr>
                        
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="d-flex justify-content-end align-items-center mt-3">
                 
                <h5>Total Général: <span class="text-primary">{{ total_price |  format_currency('TND', {fraction_digit: 2}) }}</span></h5>
              </div>

               
              
              <div class="mt-4 text-center">
               <!--<button type="submit" class="btn btn-primary">Valider la Commande</button>--> 
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
           

        });
    </script>


{% endblock main %}